.menu{
  background-color: white;
  padding: 0 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0, 0.4);
  justify-content: space-around;
}
.menu > div{
  display: flex;
}
.link{
  display: block;
  padding: 20px 15px;
}
.link:hover{
  background-color: rgb(38, 111, 180);
  color: white;
}