.shoppingCart{
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  width: 350px;
  height: 100vh;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.total{
  font-weight: bolder;
  font-size: 40px;
}
.empty{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close{
  background-color: #ffd500;
  color: black;
  font-weight: bold;
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;

}
